.element {
  width: 300px;
  margin: auto;
  border-radius: 4px;
  padding:5px;
  @media screen and (orientation: landscape) {
    width:50%;
    background-color: #13667b;
    color:white;
  }
  @media screen and (orientation: portrait) {
    width: 100%;
    background-color: #d9eaf7;
  }
}

.special-title{
  border:1px solid #0ed1ed;
  padding: 10px;
  margin:20px;
}


.parent {
  width:300px;
  @at-root .child { width: 100px; }
}



$y:100;

@debug 10em + 12em;

 @if unitless($y) {
    @warn "Assuming #{$y} to be in pixels";
    $y: 1px * $y;
 }

  // @if ($y != 0) {
  //   @error "$y may not be unitless, was #{$y}.";
  // }